@import 'tailwindcss';

@utility vite {
  /* Problem 1: mixin has to be declare/import within the @utility scope to take effect */
  @define-mixin vite {
    mask-image: url('./lightbulb.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: green;
  }

  width: 8rem;
  height: 8rem;
  background-color: red;

  /* Problem 2: mixin does not apply during production build */
  @mixin vite;
}
