@import 'tailwindcss/utilities';

@define-mixin test {
  background-color: green;
}

.test {
  width: 8rem;
  height: 8rem;
  background-color: red;

  /* 
   * Problem 2: mixin does not correctly resolved during build,
   * same for any other custom at-rule.
   */
  @mixin test;
}
